html {
  font-family: 'Oswald', sans-serif;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  box-sizing: border-box;

  height: 100%;
}

h2 {
  font-family: 'Oswald';
  font-size: 24px;
  font-weight: bold;
}

/*Nav Bar*/

nav {
  background: #050505;
  float: left;
  width: 100%;
  padding: 0;
  height: 110px;
}

.navbar-container {
  width: 48%;
  float: left;
  overflow: auto;
  padding-left: 1%;
  padding-right: 1%;
}

.navbar-logo {
  display: inline;
  float: left;
  margin: 20px 0px 0px 30px;
}

.navbar-right li {
  list-style-type: none;
  display: inline;
  float:right;
  margin: 45px 20px 0px 0px;
  align-items: left;
}

.navbar-right li a {
    font-family: 'Oswald';
    font-size: 20px;
    display: block;
    color: #E6E6E6;
    text-decoration: none;
}

.navbar-right li a:hover {
    color: #FFB7C5;
}

/*Landing*/

.landing {
  background-color: #F5F5F5;
  height: 600px;
  margin: 0% 0% 0% 0%;
  width: 100%;
  background: url('/images/landing-writing-tdh.png') no-repeat;
  background-position: center 60%;
}

/*Gallery*/


.gallery {
  height:400px;
  width:100%;
  background-color: #999;
  overflow: auto;
  white-space: nowrap;
}

.box {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    width:400px;
    height: 400px;
}

.box a{
  text-decoration: none;
  color: #050505;
}

.box a:hover{
  color: #FFB7C5;
}

.accint-box-container {
}

.accint-box {
  background: url('/images/accint-pic.png') no-repeat;
  background-position: center 35%;
}

.accint-text {
  padding-top: 260px;
}

.gdn-box {
  background: url('/images/gdn-pic.png') no-repeat;
  background-position: center 35%;
}

.gdn-text {
  padding-top: 260px;
}

.weekynder-box {
  background: url('/images/weekynder-pic.png') no-repeat;
  background-position: center 35%;
}

.weekynder-text {
  padding-top: 260px;
}

/*Footer*/

.footer {
  background: #050505;
  float: left;
  width: 100%;
  padding: 0;
  height: 225px;
}

.footer-container {
  width: 90%;
  float: left;
  overflow: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.contact-email-text {
  float: left;
  margin-top: 75px;
  margin-bottom: 10px;
  margin-left: 45%;
  color: #F5F5F5;
  width: 150px;
}

.social-nav {
  padding: 15px 0px;
  width: 150px;
  margin-left: 45%;
}

.social-nav li {
  list-style-type: none;
  display: inline;
  float:left;
  margin: 0px 10px 0px 0px;
  align-items: left;
}
