html {
  font-family: 'Oswald', sans-serif;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  box-sizing: border-box;

  height: 100%;
}

h2 {
  font-family: 'Oswald';
  font-weight: bold;
  font-style: normal;
}

p1 {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
}

/*Nav Bar*/

nav {
  background: #050505;
  float: left;
  width: 100%;
  padding: 0;
  height: 110px;
}

.navbar-container {
  width: 48%;
  float: left;
  overflow: auto;
  padding-left: 1%;
  padding-right: 1%;
}

.navbar-logo {
  display: inline;
  float: left;
  margin: 20px 0px 0px 30px;
}

.navbar-right li {
  list-style-type: none;
  display: inline;
  float:right;
  margin: 45px 20px 0px 0px;
  align-items: left;
}

.navbar-right li a {
    font-family: 'Oswald';
    font-size: 20px;
    display: block;
    color: #E6E6E6;
    text-decoration: none;
}

.navbar-right li a:hover {
    color: #FFB7C5;
}


/*Landing*/

.landing {
  background-color: #F5F5F5;
  height: 600px;
  margin: 0% 0% 0% 0%;
  width: 100%;
}

/*Gallery*/

::-webkit-scrollbar{

    -webkit-appearance: none;
    width: 0px;
    height: 7px;

}

::-webkit-scrollbar-thumb {

    border-radius: 4px;
    background-color: #FFB7C5;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.gallery {
  height:420px;
  width:100%;
  overflow-y: auto;
  overflow-x: scroll;
  background-color: #999;
  white-space: nowrap;
}

.box {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    height: 400px;
}

.box a{
  text-decoration: none;
  color: #050505;
}

.box a:hover{
  color: #FFB7C5;
}

.accint-box-container {
}

.accint-box {
  background: url('/images/accint-pic.png') no-repeat;
}

.gdn-box {
  background: url('/images/gdn-pic.png') no-repeat;
}

.weekynder-box {
  background: url('/images/weekynder-pic.png') no-repeat;
}

/*Footer*/

.footer {
  background: #050505;
  float: left;
  width: 100%;
  padding: 0;
  height: 225px;
}

.footer-container {
  width: 90%;
  float: left;
  overflow: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.contact-email-text {
  float: left;
  margin-top: 75px;
  margin-bottom: 10px;
  color: #F5F5F5;
  width: 150px;
}

.social-nav {
  padding: 15px 0px;
  width: 150px;
}

.social-nav li {
  list-style-type: none;
  display: inline;
  float:left;
  margin: 0px 10px 0px 0px;
  align-items: left;
}


/*About Us*/

.about-landing {
  float: left;
}

.faq li {
  list-style-type: none;
  margin: 0px 10px 0px 0px;
  align-items: left;
}

.question {
  margin-bottom: 10px;
}

.answer {
  margin-left: 50px;

  /* Needs prefixing */
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

/*Sizing*/

/*Mobile*/

@media screen and (min-width: 0px){

  h2 {
    font-size: 18px;
  }

  p1 {
    font-size: 14px;
  }

  .landing {
    background: url('/images/landing-writing-m.png') no-repeat;
    background-position: center 60%;
  }

  .box {
      width:250px;
  }

  .accint-box {
    background-position: center 45%;
  }

  .gdn-box {
    background-position: center 45%;
  }

  .weekynder-box {
    background-position: center 45%;
  }

  .accint-text {
    padding-top: 280px;
  }

  .gdn-text {
    padding-top: 280px;
  }

  .weekynder-text {
    padding-top: 280px;
  }

  .contact-email-text {
    margin-left: 40%;
  }

  .social-nav {
    margin-left: 40%;
  }

  .about-landing {
    margin: 50px 0px 100px 0px;
    width: 100%;
    max-width: 310px;
  }

}

/*Tablet*/

@media screen and (min-width: 501px){

  h2 {
    font-size: 24px;
  }

  p1 {
    font-size: 18px;
  }

  .landing {
    background: url('/images/landing-writing-tdh.png') no-repeat;
    background-position: center 60%;
  }

  .box {
      width:400px;
  }

  .accint-box {
    background-position: center 40%;
  }

  .gdn-box {
    background-position: center 40%;
  }

  .weekynder-box {
    background-position: center 40%;
  }

  .accint-text {
    padding-top: 280px;
  }

  .gdn-text {
    padding-top: 280px;
  }

  .weekynder-text {
    padding-top: 280px;
  }

  .contact-email-text {
    margin-left: 45%;
  }

  .social-nav {
    margin-left: 45%;
  }

  .about-landing {
    margin: 50px 0px 150px 20px;
    width: 100%;
    max-width: 450px;
  }

}

/*Desktop*/

@media screen and (min-width: 850px){

  .about-landing {
    margin: 50px 0px 150px 60px;
    width: 100%;
    max-width: 650px;
  }
}

/*Desktop HD*/

@media screen and (min-width: 1200px){

  .box {
      width: 33%;
  }

  .about-landing {
    margin: 50px 0px 150px 100px;
    width: 100%;
    max-width: 650px;
  }
}
